<header>
    <nav>
        <a href="#servicios">Servicios</a>
        <a href="#planes">Planes</a>
        <a href="">Contactanos</a>
        <a href="">Mas Información</a>
    </nav>
</header>
<style>
    header {
        width: 100%;
        height: 4rem;
        display: flex;
        position: fixed;
        backdrop-filter: blur(20px);
        justify-content: center;
        align-items: center;   
        z-index: 100;
    }
    nav {
        display: flex;
        gap: 1.2rem;
    }
    a {
        color: #fafafa;
        text-decoration: none;
        font-size: 1.2rem;
    }
</style>