<footer>
    <p>Contacto: <a href="mailto:info@sanvidev.com">info@sanvidev.com</a></p>
    <p>Síguenos en nuestras redes sociales:</p>
    <ul>
        <a
            href="https://www.linkedin.com/in/santiago-carrasco-1976112b7/"
            target="_blank">LinkedIn</a
        >
        <a href="https://github.com/sanvidev" target="_blank">GitHub</a>
        <a href="https://instagram.com/_sanvi.dev" target="_blank">Instagram</a>
    </ul>
    <p>Teléfono: <a href="tel:+59892161509">+598 92 161 509</a></p>
    <p>¿Tienes alguna pregunta? ¡No dudes en contactarnos!</p>
    <a href="https://portafolio.sanvidev.com">Ver Portafolio</a>
    <p>&copy; 2023 SanviDev. Todos los derechos reservados.</p>
</footer>
<style>
    footer {
        background-color: #202020;
        color: #aaa;
        padding: 2rem 0;
        text-align: center;
    }
    p {
        margin: 0;
    }
    footer a {
        margin: 0;
        color: #2f7890;
        text-decoration: none;
    }
    footer a:hover {
        text-decoration: underline;
    }
</style>
