<section id="servicios">
    <h1>Nos destacamos en...</h1>
    <div class="content">
        <div class="card">
            <div class="icon"><i class="fa-solid fa-globe"></i></div>
            <h2>Desarrollo Web</h2>
            <p>
                Creamos tu sitio web personalizado para aumentar tu presencia
                digital en la red.
            </p>
        </div>
        <div class="card">
            <div class="icon"><i class="fa-solid fa-mobile"></i></div>
            <h2>Aplicaciones Moviles</h2>
            <p>
                Desarrollamos aplicaciones moviles adaptadas a tus necesidades.
            </p>
        </div>
    </div>
</section>

<style>
    #servicios {
        padding: 2rem;
        background-color: #1d1d1d;
    }
    .content {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card {
        border: 1px solid #444;
        border-radius: 10px;
        height: 18rem;
        background-color: #232323;
        padding: 3rem;
        width: 10rem;
        transition: 250ms;
    }
    .card:hover {
        box-shadow: 0px 0px 5px  #303030;
    }
    .icon {
        height: 20px;
        width: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #2f5c6a;
    }
    p{
        color: #ddd;
    }
    h1 {
        text-align: center;
        margin:2rem
    }
</style>
